<div class="header">Welcome!</div>

<div class="dashboard">

    <div class="just">
        <div class="block just">
            <div class="circle one">
                <svg>
                    <use xlink:href="#burger"></use>

                </svg>
            </div>
            <div class="text">
                <h2 class="lineOne">64,570</h2>
                <p class="lineTwo">Today's Visits</p>
            </div>
        </div>
        <div class="block just">
            <div class="circle two">
                <svg>
                    <use xlink:href="#burger"></use>

                </svg>
            </div>
            <div class="text">
                <h2 class="lineOne">31,570</h2>
                <p class="lineTwo">Today's Revenue</p>
            </div>
        </div>
        <div class="block just">
            <div class="circle three">
                <svg>
                    <use xlink:href="#burger"></use>

                </svg>
            </div>
            <div class="text">
                <h2 class="lineOne">280</h2>
                <p class="lineTwo">Today's Sales</p>
            </div>
        </div>
        <div class="block just">
            <div class="circle four">
                <svg>
                    <use xlink:href="#burger"></use>

                </svg>
            </div>
            <div class="text">
                <h2 class="lineOne">0,16%</h2>
                <p class="lineTwo">Conversion</p>
            </div>
        </div>
    </div>
    <div class="just">
        <div class="block">
            Yearly sales report
        </div>
        <div class="block">
            Yearly sales report
        </div>
        <div class="block">
            Yearly sales report
        </div>
    </div>
    <div class="just_last">
        <div class="block">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Project Name</th>
                        <th scope="col">Start Date</th>
                        <th scope="col">Due Date</th>
                        <th scope="col">Status</th>
                        <th scope="col">Assign</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Minton Admin v1</td>
                        <td>01/01/2016</td>
                        <td>26/04/2016</td>
                        <td>Released</td>
                        <td>Coderthemes</td>

                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Minton Admin v1</td>
                        <td>01/01/2016</td>
                        <td>26/04/2016</td>
                        <td>Released</td>
                        <td>Coderthemes</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Minton Admin v1</td>
                        <td>01/01/2016</td>
                        <td>26/04/2016</td>
                        <td>Released</td>
                        <td>Coderthemes</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Minton Admin v1</td>
                        <td>01/01/2016</td>
                        <td>26/04/2016</td>
                        <td>Released</td>
                        <td>Coderthemes</td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>Minton Admin v1</td>
                        <td>01/01/2016</td>
                        <td>26/04/2016</td>
                        <td>Released</td>
                        <td>Coderthemes</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="cont">
            <div class="block just">
                <div class="report-img">
                    <img src="../../../public/assets/img/profile.jpg" alt="">
                </div>

                <div class="text">Yearly sales report</div>
            </div>
            <div class="block just margin">
                <div class="report-img">
                    <img src="../../../public/assets/img/profile.jpg" alt="">

                </div>
                <div class="text">Yearly sales report</div>
            </div>
            <div class="block just">
                <div class="report-img">
                    <img src="../../../public/assets/img/profile.jpg" alt="">

                </div>
                <div class="text">Yearly sales report</div>
            </div>
        </div>

    </div>
</div>