<div class="header">Gallery</div>

<div class="gallery">
    <div class="gallery__filter">
        <ul>
            <li><button class="gallery__filter__btn gallery__filter__btn--all" id='btnAll'>All</button></li>
            <li><button class="gallery__filter__btn" id='btnWebDesign'>Web Design</button></li>
            <li><button class="gallery__filter__btn" id='btnGraphicDesign'>Graphic Design</button></li>
            <li><button class="gallery__filter__btn" id='btnIllustrator'>Illustrator</button></li>
            <li><button class="gallery__filter__btn" id='btnPhotography'>Photography</button></li>

        </ul>
    </div>
    <div class="gallery__window">
        
            <div class="gallery__window__box">
                <img src="../../../public/assets/img/gallery.jpg" alt="">
                <h5>Gallery Image</h5>
                <hr>
                <div class="gallery__window__box__desc">Photography</div>

            </div>
            <div class="gallery__window__box">
                <img src="../../../public/assets/img/gallery.jpg" alt="">
                <h5>Gallery Image</h5>
                <hr>
                <div class="gallery__window__box__desc">Web Design</div>

            </div>
            <div class="gallery__window__box">
                <img src="../../../public/assets/img/gallery.jpg" alt="">
                <h5>Gallery Image</h5>
                <hr>
                <div class="gallery__window__box__desc">Photography</div>

            </div>
            <div class="gallery__window__box">
                <img src="../../../public/assets/img/gallery.jpg" alt="">
                <h5>Gallery Image</h5>
                <hr>
                <div class="gallery__window__box__desc">Web Design</div>

            </div>
            <div class="gallery__window__box">
                <img src="../../../public/assets/img/gallery.jpg" alt="">
                <h5>Gallery Image</h5>
                <hr>
                <div class="gallery__window__box__desc">Illustrator</div>

            </div>
            <div class="gallery__window__box">
                <img src="../../../public/assets/img/gallery.jpg" alt="">
                <h5>Gallery Image</h5>
                <hr>
                <div class="gallery__window__box__desc">Graphic Design</div>

            </div>
            <div class="gallery__window__box">
                <img src="../../../public/assets/img/gallery.jpg" alt="">
                <h5>Gallery Image</h5>
                <hr>
                <div class="gallery__window__box__desc">Web Design</div>

            </div>
            <div class="gallery__window__box">
                <img src="../../../public/assets/img/gallery.jpg" alt="">
                <h5>Gallery Image</h5>
                <hr>
                <div class="gallery__window__box__desc">Graphic Design</div>

            </div>
        </div>
    
</div>