<div class="header">Pricing</div>

<div class="pricing">
    <div class="pricing__h3">
        <h3>Simple Pricing</h3>
    </div>
    <div class="pricing__block">
        <h5>STARTER PACK</h5>
        <div class="pricing__block__price">$19</div>
        <div class="pricing__block__per-month">Per Month</div>
        <ul>
            <li>
                <svg>
                    <use xlink:href="#cloud"></use>

                </svg>
                <span>10 GB Storage</span>
            </li>
            <li>
                <svg>
                    <use xlink:href="#briefcase"></use>

                </svg>
                <span>500 GB Bandwidth</span>
            </li>
            <li>
                <svg>
                    <use xlink:href="#wand"></use>

                </svg>
                <span>No Domain</span>
            </li>
            <li>
                <svg>
                    <use xlink:href="#user"></use>

                </svg>
                <span>1 User</span>
            </li>
            <li>
                <svg>
                    <use xlink:href="#email"></use>

                </svg>
                <span>Email Support</span>
            </li>
            <li>
                <svg>
                    <use xlink:href="#support"></use>

                </svg>
                <span>24x7 Support</span>
            </li>
        </ul>
        <button class="pricing__block__btn">Signup Now</button>

    </div>
    <div class="pricing__block pricing__block--middle">
        <div class="pricing__block__ribbon"><span>POPULAR</span></div>
        <h5>PROFFESIONAL PACK</h5>
        <div class="pricing__block__price">$29</div>
        <div class="pricing__block__per-month">Per Month</div>
        <ul>
            <li>
                <svg>
                    <use xlink:href="#cloud"></use>

                </svg>
                <span>50 GB Storage</span>
            </li>
            <li>
                <svg>
                    <use xlink:href="#briefcase"></use>

                </svg>
                <span>1200 GB Bandwidth</span>
            </li>
            <li>
                <svg>
                    <use xlink:href="#wand"></use>

                </svg>
                <span>5 Domains</span>
            </li>
            <li>
                <svg>
                    <use xlink:href="#user"></use>

                </svg>
                <span>100 Users</span>
            </li>
            <li>
                <svg>
                    <use xlink:href="#email"></use>

                </svg>
                <span>Email Support</span>
            </li>
            <li>
                <svg>
                    <use xlink:href="#support"></use>

                </svg>
                <span>24x7 Support</span>
            </li>
        </ul>
        <button class="pricing__block__btn">Signup Now</button>

    </div>
    <div class="pricing__block">
        <h5>ENTERPRISE PACK</h5>
        <div class="pricing__block__price">$39</div>
        <div class="pricing__block__per-month">Per Month</div>
        <ul>
            <li>
                <svg>
                    <use xlink:href="#cloud"></use>

                </svg>
                <span>1000 GB Storage</span>
            </li>
            <li>
                <svg>
                    <use xlink:href="#briefcase"></use>

                </svg>
                <span>Unlimited Bandwidth</span>
            </li>
            <li>
                <svg>
                    <use xlink:href="#wand"></use>

                </svg>
                <span>20 Domains</span>
            </li>
            <li>
                <svg>
                    <use xlink:href="#user"></use>

                </svg>
                <span>Unlimited Users</span>
            </li>
            <li>
                <svg>
                    <use xlink:href="#email"></use>

                </svg>
                <span>Email Support</span>
            </li>
            <li>
                <svg>
                    <use xlink:href="#support"></use>

                </svg>
                <span>24x7 Support</span>
            </li>
        </ul>
        <button class="pricing__block__btn">Signup Now</button>

    </div>
</div>