<div class="header">Profile</div>

<div class="profile">
    <div class="sideContainer">
        <div class="leftWithPhoto">
            <img class='leftWithPhoto__img' src="assets/img/profile.jpg" alt="">
            <div class="leftWithPhoto__name">Some One</div>
            <div class="leftWithPhoto__address">@webdesigner</div>
            <div class="leftWithPhoto__buttons">
                <button class="button leftWithPhoto__buttons--green">Follow</button>
                <button class="button leftWithPhoto__buttons--red">Message</button>
            </div>
            <div class="leftWithPhoto__info">
                <div class="leftWithPhoto__info__line"><b>Full Name:</b><span
                        class="leftWithPhoto__info__line__grey">Some One</span></div>
                <div class="leftWithPhoto__info__line"><b>Mobile:</b><span class="leftWithPhoto__info__line__grey">(123)
                        123 1234</span></div>
                <div class="leftWithPhoto__info__line"><b>Email:</b><span
                        class="leftWithPhoto__info__line__grey">some@one.com</span></div>
                <div class="leftWithPhoto__info__line"><b>Location:</b><span
                        class="leftWithPhoto__info__line__grey">USA</span></div>

            </div>

            <div class="leftWithPhoto__icons">
                <svg>
                    <use xlink:href="#facebook"></use>

                </svg>
                <svg>
                    <use xlink:href="#twitter"></use>

                </svg>
                <svg>
                    <use xlink:href="#skype"></use>

                </svg>
            </div>

        </div>
        <div class="skills">
            <div class="skills__header">SKILLS</div>
            <div class="skills__row skills__row--html">HTML5
                <div class="greyCont">
                    <div class="blueContHtml"></div>
                </div>
            </div>
            <div class="skills__row skills__row--php">PHP
                <div class="greyCont">
                    <div class="blueContPhp"></div>
                </div>
            </div>
            <div class="skills__row skills__row--wordpress">Wordpress
                <div class="greyCont">
                    <div class="blueContWordpress"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="tabSwitcher">
        <div class="tabs">
            <ul>
                <li><button class="tabs__about one" data-type='profile' data-switch='about'>ABOUT ME</button></li>
                <li><button class="tabs__gallery two inactive" data-type='profile' data-switch='gallery'>GALLERY</button></li>
                <li><button class="tabs__settings three inactive" data-type='profile' data-switch='settings'>SETTINGS</button></li>
            </ul>

            <div class="tabs__thin-line">
                <div class="tabs__thin-line__bold-line bold-line" data-profile></div>
            </div>
        </div>
        <div class="profileTab profileTab--about tabContent" data-profile data-about>
            <p class="profileTab--about__summary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis
                sunt, molestiae, rerum amet ducimus recusandae nobis eum quia soluta iure magnam. Cumque pariatur,
                ducimus optio culpa itaque dolorum voluptatibus nihil.</p>
            <h4>Experience</h4>
            <div class="profileTab--about__job-title">Lead designer / Developer</div>
            <div class="profileTab--about__website">websitename.com</div>
            <div class="profileTab--about__year">2010-2015</div>
            <p class="profileTab--about__job-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus
                quas, corrupti reiciendis modi, sed et exercitationem reprehenderit perspiciatis ipsum consectetur earum
                aspernatur, expedita doloribus molestiae dolor atque nulla perferendis temporibus!</p>
            <hr>
            <div class="profileTab--about__job-title">Senior Graphic Designer</div>
            <div class="profileTab--about__website">coderthemes.com</div>
            <div class="profileTab--about__year">2007-2009</div>
            <p class="profileTab--about__job-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus
                quas, corrupti reiciendis modi, sed et exercitationem reprehenderit perspiciatis ipsum consectetur earum
                aspernatur, expedita doloribus molestiae dolor atque nulla perferendis temporibus!</p>

        </div>
        <div class="profileTab profileTab--gallery tabContent" data-profile data-gallery>
            <div class="profileTab--gallery__box">
                <img src="../../../public/assets/img/gallery.jpg" alt="">
                <h5>Gallery Image</h5>
                <hr>
                <div class="profileTab--gallery__box__desc">Photography</div>

            </div>
            <div class="profileTab--gallery__box">
                <img src="../../../public/assets/img/gallery.jpg" alt="">
                <h5>Gallery Image</h5>
                <hr>
                <div class="profileTab--gallery__box__desc">Photography</div>

            </div>
            <div class="profileTab--gallery__box">
                <img src="../../../public/assets/img/gallery.jpg" alt="">
                <h5>Gallery Image</h5>
                <hr>
                <div class="profileTab--gallery__box__desc">Photography</div>

            </div>
            <div class="profileTab--gallery__box">
                <img src="../../../public/assets/img/gallery.jpg" alt="">
                <h5>Gallery Image</h5>
                <hr>
                <div class="profileTab--gallery__box__desc">Photography</div>

            </div>
            <div class="profileTab--gallery__box">
                <img src="../../../public/assets/img/gallery.jpg" alt="">
                <h5>Gallery Image</h5>
                <hr>
                <div class="profileTab--gallery__box__desc">Photography</div>

            </div>
            <div class="profileTab--gallery__box">
                <img src="../../../public/assets/img/gallery.jpg" alt="">
                <h5>Gallery Image</h5>
                <hr>
                <div class="profileTab--gallery__box__desc">Photography</div>

            </div>
        </div>
        <div class="profileTab profileTab--settings tabContent" data-profile data-settings>
            <form class="form">
                <div class="form-group">
                    <label for="exampleInputEmail1">Full Name</label>
                    <input type="text" class="form-control" aria-describedby="" placeholder="John Doe">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email</label>
                    <input type="email" class="form-control" aria-describedby="" placeholder="first.last@example.com">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Username</label>
                    <input type="text" class="form-control" aria-describedby="" placeholder="john">
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" placeholder="6-15 Characters">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Re-Password</label>
                    <input type="password" class="form-control" placeholder="6-15 Characters">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">About Me</label>
                    <textarea type="email" class="form-control textarea" aria-describedby="emailHelp"
                        placeholder="John Doe"
                        contenteditable="true">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis molestiae quae laudantium placeat fuga iusto enim mollitia quasi voluptate omnis optio numquam quod facere, a adipisci vel nostrum explicabo autem.</textarea>
                </div>


                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>


</div>