<div class="header">Team</div>

<div class="team">
    <div class="teamMember">
        <img class='teamMember__img' src="assets/img/profile.jpg" alt="">
        <div class="teamMember__name">Some One</div>
        <div class="teamMember__address">@webdesigner</div>
        <div class="teamMember__buttons">
            <button class="button teamMember__buttons--green">Follow</button>
            <button class="button teamMember__buttons--red">Message</button>
        </div>
        <div class="teamMember__info">
            <div class="teamMember__info__line"><b>Full Name:</b><span class="teamMember__info__line__grey">Some
                    One</span></div>
            <div class="teamMember__info__line"><b>Mobile:</b><span class="teamMember__info__line__grey">(123)
                    123 1234</span></div>
            <div class="teamMember__info__line"><b>Email:</b><span
                    class="teamMember__info__line__grey">some@one.com</span></div>
            <div class="teamMember__info__line"><b>Location:</b><span class="teamMember__info__line__grey">USA</span>
            </div>

        </div>

        <div class="teamMember__icons">
            <svg>
                <use xlink:href="#facebook"></use>

            </svg>
            <svg>
                <use xlink:href="#twitter"></use>

            </svg>
            <svg>
                <use xlink:href="#skype"></use>

            </svg>
        </div>

    </div>
    <div class="teamMember">
        <img class='teamMember__img' src="assets/img/profile.jpg" alt="">
        <div class="teamMember__name">Some One</div>
        <div class="teamMember__address">@webdesigner</div>
        <div class="teamMember__buttons">
            <button class="button teamMember__buttons--green">Follow</button>
            <button class="button teamMember__buttons--red">Message</button>
        </div>
        <div class="teamMember__info">
            <div class="teamMember__info__line"><b>Full Name:</b><span class="teamMember__info__line__grey">Some
                    One</span></div>
            <div class="teamMember__info__line"><b>Mobile:</b><span class="teamMember__info__line__grey">(123)
                    123 1234</span></div>
            <div class="teamMember__info__line"><b>Email:</b><span
                    class="teamMember__info__line__grey">some@one.com</span></div>
            <div class="teamMember__info__line"><b>Location:</b><span class="teamMember__info__line__grey">USA</span>
            </div>

        </div>

        <div class="teamMember__icons">
            <svg>
                <use xlink:href="#facebook"></use>

            </svg>
            <svg>
                <use xlink:href="#twitter"></use>

            </svg>
            <svg>
                <use xlink:href="#skype"></use>

            </svg>
        </div>

    </div>
    <div class="teamMember">
        <img class='teamMember__img' src="assets/img/profile.jpg" alt="">
        <div class="teamMember__name">Some One</div>
        <div class="teamMember__address">@webdesigner</div>
        <div class="teamMember__buttons">
            <button class="button teamMember__buttons--green">Follow</button>
            <button class="button teamMember__buttons--red">Message</button>
        </div>
        <div class="teamMember__info">
            <div class="teamMember__info__line"><b>Full Name:</b><span class="teamMember__info__line__grey">Some
                    One</span></div>
            <div class="teamMember__info__line"><b>Mobile:</b><span class="teamMember__info__line__grey">(123)
                    123 1234</span></div>
            <div class="teamMember__info__line"><b>Email:</b><span
                    class="teamMember__info__line__grey">some@one.com</span></div>
            <div class="teamMember__info__line"><b>Location:</b><span class="teamMember__info__line__grey">USA</span>
            </div>

        </div>

        <div class="teamMember__icons">
            <svg>
                <use xlink:href="#facebook"></use>

            </svg>
            <svg>
                <use xlink:href="#twitter"></use>

            </svg>
            <svg>
                <use xlink:href="#skype"></use>

            </svg>
        </div>

    </div>
    <div class="teamMember">
        <img class='teamMember__img' src="assets/img/profile.jpg" alt="">
        <div class="teamMember__name">Some One</div>
        <div class="teamMember__address">@webdesigner</div>
        <div class="teamMember__buttons">
            <button class="button teamMember__buttons--green">Follow</button>
            <button class="button teamMember__buttons--red">Message</button>
        </div>
        <div class="teamMember__info">
            <div class="teamMember__info__line"><b>Full Name:</b><span class="teamMember__info__line__grey">Some
                    One</span></div>
            <div class="teamMember__info__line"><b>Mobile:</b><span class="teamMember__info__line__grey">(123)
                    123 1234</span></div>
            <div class="teamMember__info__line"><b>Email:</b><span
                    class="teamMember__info__line__grey">some@one.com</span></div>
            <div class="teamMember__info__line"><b>Location:</b><span class="teamMember__info__line__grey">USA</span>
            </div>

        </div>

        <div class="teamMember__icons">
            <svg>
                <use xlink:href="#facebook"></use>

            </svg>
            <svg>
                <use xlink:href="#twitter"></use>

            </svg>
            <svg>
                <use xlink:href="#skype"></use>

            </svg>
        </div>

    </div>
    <div class="teamMember">
        <img class='teamMember__img' src="assets/img/profile.jpg" alt="">
        <div class="teamMember__name">Some One</div>
        <div class="teamMember__address">@webdesigner</div>
        <div class="teamMember__buttons">
            <button class="button teamMember__buttons--green">Follow</button>
            <button class="button teamMember__buttons--red">Message</button>
        </div>
        <div class="teamMember__info">
            <div class="teamMember__info__line"><b>Full Name:</b><span class="teamMember__info__line__grey">Some
                    One</span></div>
            <div class="teamMember__info__line"><b>Mobile:</b><span class="teamMember__info__line__grey">(123)
                    123 1234</span></div>
            <div class="teamMember__info__line"><b>Email:</b><span
                    class="teamMember__info__line__grey">some@one.com</span></div>
            <div class="teamMember__info__line"><b>Location:</b><span class="teamMember__info__line__grey">USA</span>
            </div>

        </div>

        <div class="teamMember__icons">
            <svg>
                <use xlink:href="#facebook"></use>

            </svg>
            <svg>
                <use xlink:href="#twitter"></use>

            </svg>
            <svg>
                <use xlink:href="#skype"></use>

            </svg>
        </div>

    </div>
    <div class="teamMember">
        <img class='teamMember__img' src="assets/img/profile.jpg" alt="">
        <div class="teamMember__name">Some One</div>
        <div class="teamMember__address">@webdesigner</div>
        <div class="teamMember__buttons">
            <button class="button teamMember__buttons--green">Follow</button>
            <button class="button teamMember__buttons--red">Message</button>
        </div>
        <div class="teamMember__info">
            <div class="teamMember__info__line"><b>Full Name:</b><span class="teamMember__info__line__grey">Some
                    One</span></div>
            <div class="teamMember__info__line"><b>Mobile:</b><span class="teamMember__info__line__grey">(123)
                    123 1234</span></div>
            <div class="teamMember__info__line"><b>Email:</b><span
                    class="teamMember__info__line__grey">some@one.com</span></div>
            <div class="teamMember__info__line"><b>Location:</b><span class="teamMember__info__line__grey">USA</span>
            </div>

        </div>

        <div class="teamMember__icons">
            <svg>
                <use xlink:href="#facebook"></use>

            </svg>
            <svg>
                <use xlink:href="#twitter"></use>

            </svg>
            <svg>
                <use xlink:href="#skype"></use>

            </svg>
        </div>

    </div>

</div>