@import 'variables';
@import 'navbar';
@import 'fonts';
@import 'sidenav';
@import 'dashboard';
@import 'profile';
@import 'pricing';
@import 'team';
@import 'gallery';
@import 'sidebar';



body{
    margin:0;
    font-family: 'Roboto', sans-serif;
    background: #ebebeb;
    margin-left: 240px;
    margin-top: 70px;
    &.sidenav__hide{
        margin-left: 78px;
    }
}

img{
    
        display: block;
        max-width: 100%;
        height: auto;
        
    }

    






