body{
    width: 1000px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.buttons{
    display: flex;
}

.buttons div{
    margin-right: 10px;
    border: solid 2px;
    padding: 10px 20px;
}

img{
    display: block;
    max-width:100%;
    height: 600px;
    object-fit: contain;
}

.textBlocks{
    display: flex;
    justify-content: space-between;
    // margin: 20px;
}

.textBlocks div{
    margin: 20px;
}

.listBlocks{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: rgba(21, 101, 138, 0.952)

}


li{
    list-style: none;
}

.madeBy{
    font-size: 13px;
    text-align: center
}

