<nav>
    <div class="nav-logo" data-sidenav>

        <a href="#">
            <svg>
                <use xlink:href="#logo"></use>

            </svg>
            <span>Logo</span>
        </a>
    </div>
    <div class="nav-menu">
        <div class="nav-menu_left">
            <a href="#" data-toggle="sidenav"><svg>
                    <use xlink:href="#burger"></use>

                </svg> </a>

            <input type="text" placeholder="search...">
            <svg class="text__search-svg">
                <use xlink:href="#search"></use>

            </svg>


        </div>
        <ul class="nav-menu_list">
            <li><a href="#" data-toggle="sidebar">
                    <svg>
                        <use xlink:href="#dots"></use>

                    </svg>
                </a>
            </li>
            <li class="nav-menu_list__notif-button" data-toggle="drop"><a href="#" >
                    <svg>
                        <use xlink:href="#notif"></use>

                    </svg>
                    
                </a>
                <div class="dropdown-box" data-drop>
                        <div class="dropdown-box__heading">
                            <p>Notifications</p>
                            <div class="dropdown-box__heading__red-box">5</div>
                        </div>
                        <div class="dropdown-box__notif">
                            <div class="dropdown-box__notif__item">
                                <div class="circle circle--comment">
                                    <svg>
                                        <use xlink:href="#burger"></use>

                                    </svg>
                                </div>
                                <div class="dropdown-box__notif__item__text">
                                    <div>Robert S. Taylor comment</div>
                                    <div>1 min ago</div>
                                </div>
                            </div>
                            <div class="dropdown-box__notif__item">
                                <div class="circle circle--user">
                                    <svg>
                                        <use xlink:href="#burger"></use>

                                    </svg>
                                </div>
                                <div class="dropdown-box__notif__item__text">
                                    <div>New user registered</div>
                                    <div>1 min ago</div>
                                </div>
                            </div>
                            <div class="dropdown-box__notif__item">
                                <div class="circle circle--like">
                                    <svg>
                                        <use xlink:href="#burger"></use>

                                    </svg>
                                </div>
                                <div class="dropdown-box__notif__item__text">
                                    <div>Carlos Crouch liked Admin</div>
                                    <div>1 min ago</div>
                                </div>
                            </div>
                        </div>
                        <div class="dropdown-box__footer">
                            View All
                        </div>
                    </div>
            </li>
            <li><a href="#">

                    <img class='img-circle' src="assets/img/profile.jpg" alt="">

                </a>
            </li>

        </ul>


    </div>
    
</nav>