<div class="sidebar" data-sidebar>
    <div class="all-tabs">
        <ul>
            <li><button class="sideTab one sideTab--activity" data-type='sidebar'
                    data-switch='activity_side'>Activity</button></li>
            <li><button class="sideTab two sideTab--settings inactive" data-type='sidebar'
                    data-switch='settings_side'>Settings</button></li>
        </ul>

        <div class="all-tabs__thin-line">
            <div class="all-tabs__thin-line__bold-line bold-line" data-sidebar></div>
        </div>
    </div>
    <div class="sidebar--activity tabContent" data-sidebar data-activity_side>
        <div class="sidebar--activity__activityBlock">
            <div class="sidebar__circle"></div>

            <div class="timeStamp">
                5 minutes ago
            </div>
            <div class="activityText">
                <span class="blueName">John Doe</span> uploaded a photo <span class="boldText">"DSC000586.jpg</span>
            </div>
        </div>
        <div class="sidebar--activity__activityBlock">
            <div class="sidebar__circle"></div>

            <div class="timeStamp">
                30 minutes ago
            </div>
            <div class="activityText">
                <span class="blueName">Lorem</span> commented your post. <br> <span class="italicText">"Lorem ipsum
                    dolor sit amet consectetur adipisicing elit. Nihil similique rem magnam odit suscipit laborum sunt
                    voluptate maiores." </span>
            </div>
        </div>
        <div class="sidebar--activity__activityBlock">
            <div class="sidebar__circle"></div>

            <div class="timeStamp">
                59 minutes ago
            </div>
            <div class="activityText">
                <span class="blueName">Jessi</span> attended a meeting with <span class="greenText">John Doe.</span>
                <br> <span class="italicText">"Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil similique
                    rem magnam odit suscipit laborum sunt voluptate maiores." </span>
            </div>
        </div>
        <div class="sidebar--activity__activityBlock">
            <div class="sidebar__circle"></div>

            <div class="timeStamp">
                1 hours ago
            </div>
            <div class="activityText">
                <span class="blueName">John Doe</span> uploaded 2 new photos
            </div>
        </div>
        <div class="sidebar--activity__activityBlock">
            <div class="sidebar__circle"></div>

            <div class="timeStamp">
                3 hours ago
            </div>
            <div class="activityText">
                <span class="blueName">Lorem</span> commented your post. <br> <span class="italicText">"Lorem ipsum
                    dolor sit amet consectetur adipisicing elit. Nihil similique rem magnam odit suscipit laborum sunt
                    voluptate maiores." </span>
            </div>
        </div>
    </div>
    <div class="sidebar--settings tabContent" data-sidebar data-settings_side>
        <div class="sidebar--settings__settingsBlock">
            <div class="sidebar-text-content">
            <div class="title">Notifications</div>
            <div class="setting">Do you need them?</div>
            </div>
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
        </div>
        <div class="sidebar--settings__settingsBlock">
            <div class="sidebar-text-content">

            <div class="title">API Access</div>
            <div class="setting">Enable/Disable access</div>
            </div>

            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
        </div>
        <div class="sidebar--settings__settingsBlock">
            <div class="sidebar-text-content">

            <div class="title">Auto updates</div>
            <div class="setting">Keep up to date</div>
            </div>

            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
        </div>
        <div class="sidebar--settings__settingsBlock">
            <div class="sidebar-text-content">

            <div class="title">Online status</div>
            <div class="setting">Show your status to all</div>
            </div>

            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
        </div>



    </div>
</div>