

    <div class="sidenav" data-sidenav>
        <div class="sidenav_divider">
        <h5 class="sidenav_title">Main</h5>
        <ul class="sidenav_list">
            <li class="active">
                <a href="#"><svg>
                        <use xlink:href="#burger"></use>

                    </svg><span>Dashboard</span></a>
            </li>
            <li>
                <a href="#"><svg>
                        <use xlink:href="#burger"></use>

                    </svg><span>Dashboard</span></a>
            </li>
            <li>
                <a href="#"><svg>
                        <use xlink:href="#burger"></use>

                    </svg><span>Dashboard</span></a>
            </li>
            <li>
                <a href="#"><svg>
                        <use xlink:href="#burger"></use>

                    </svg><span>Dashboard</span></a>
            </li>
            <li>
                <a href="#"><svg>
                        <use xlink:href="#burger"></use>

                    </svg><span>Dashboard</span></a>
            </li>
            <li>
                <a href="#"><svg>
                        <use xlink:href="#burger"></use>

                    </svg><span>Dashboard</span></a>
            </li>

        </ul>
        <h5 class="sidenav_title">More</h5>
        <ul class="sidenav_list">
            <li>
                <a href="#"><svg>
                        <use xlink:href="#burger"></use>

                    </svg><span>Dashboard</span></a>
            </li>
            <li>
                <a href="#"><svg>
                        <use xlink:href="#burger"></use>

                    </svg><span>Dashboard</span></a>
            </li>
            <li>
                <a href="#"><svg>
                        <use xlink:href="#burger"></use>

                    </svg><span>Dashboard</span></a>
            </li>
            <li>
                <a href="#"><svg>
                        <use xlink:href="#burger"></use>

                    </svg><span>Dashboard</span></a>
            </li>
        </ul>
        <h5 class="sidenav_title">Extra</h5>
        <ul class="sidenav_list">
            <li>
                <a href="#"><svg>
                        <use xlink:href="#burger"></use>

                    </svg><span>Dashboard</span></a>
            </li>
            <li>
                <a href="#"><svg>
                        <use xlink:href="#burger"></use>

                    </svg><span>Dashboard</span></a>
            </li>
            <li>
                <a href="#"><svg>
                        <use xlink:href="#burger"></use>

                    </svg><span>Dashboard</span></a>
            </li>
        </ul>
    </div>
    </div>